# Project specific
intermediate_files/**
code/-old_code/**
code/scratchpad.R
data_raw/**
lit/**
manuscript/**
.bash_history
performance_profiling/**
intermediate_files.zip
# Random mac stuff
*.DS_Store
Icon?
# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# User-specific files
.Ruserdata
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# MS temp files
*.tmp
# Word temporary
~$*.doc*
# Word Auto Backup File
Backup of *.doc*
# Excel temporary
~$*.xls*
# Excel Backup File
*.xlk
# PowerPoint temporary
~$*.ppt*
# Visio autosave temporary files
*.~vsd*
Icon
.ipynb_checkpoints
code/old_code/**
rmds/00_text_summary_of_results.Rmd
rmds/00_text_summary_of_results.html
rmds/99_walkthrough_single_simulation.html
rmds/99_walkthrough_single_simulation.Rmd
plots/fig3_active_inf_day_of_travel_gsw.jpg
plots/fig3_active_inf_day_of_travel_gsw.pdf
plots/LID plots.zip
hawaii/**
code/scratchpad**
rmds/example**
plots/**_OLD**
